<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner mynavbar">
    <div class="container-fluid">
        <ul class="nav">
            <li>
                <a class="dropdown-toggle mycontrol" data-toggle="dropdown" href="#">more <i class="icon-align-justify"></i></a>
                <ul class="dropdown-menu mydropdownmenu">
                    <div class="span3">
                        <!-- <li> -->
                        <!--     <a id="settingsbutton" class="mydropdownbutton" href="#"><i class="icon-cog"></i> settings -->
                        <!--     <span class="shortcuttip">ctrl + e</span></a> -->
                        <!-- </li> -->
                        <!-- <li class="divider"></li> -->
                        <li><a id="aboutbutton" class="mydropdownbutton" href="#"><i class="icon-user"></i> about</a></li>
                    </div>
                </ul>
            </li>
        </ul>
        <ul id="tools" class="nav">
            <li><a id="newpostbutton" class="mycontrol" href="#" rel="tooltip" title="ctrl + enter">new <i class="icon-edit"></i></a></li>
            <li><a id="reloadbutton" class="mycontrol" href="#" rel="tooltip" title="ctrl + space">reload <i class="icon-refresh"></i></a></li>
        </ul>
        <div class="navbar-text pull-right">
            <div id="loginbar" class="hide">
                <input id="username" class="input-large placeholder" type="text" placeholder="username" onfocus="removeplaceholder('username')">
                <input id="password" class="input-large placeholder" type="password" placeholder="password" onfocus="removeplaceholder('password')">
                <a id="loginbutton" class="navbar-link mycontrol" href="#">login <i class="icon-signin"></i></a>
                <a id="signupbutton" class="navbar-link dropdown-toggle mycontrol" data-toggle="dropdown" href="#">signup</a>
                <div id="signupform" class="dropdown-menu pull-right">
                  <input id="signupcsrf" type="hidden" value="{{ csrf_token }}">
                  <input id="signupusername" class="placeholder" type="text" placeholder="username" onfocus="removesignupplaceholder('signupusername')"><br>
                  <input id="signuppassword" type="password" class="placeholder" type="text" placeholder="password" onfocus="removesignupplaceholder('signuppassword')"><br>
                  <input id="signuprepassword" type="password" class="placeholder" type="text" placeholder="repassword" onfocus="removesignupplaceholder('repassword')"><br>
                  <button id="signupbtn" type="submit" class="btn btn-inverse pull-right mylabel">signup</button><br>
                  <div id="signupmsg" class="input-large"></div>
                </div>
            </div>
            <a id="logout" class="hide navbar-link mycontrol" href="#">logout <i class="icon-signout"></i></a>
        </div>
    </div>
  </div>
</div>

<div id="newpostform" class="form-horizontal modal hide">
    <fieldset>
      <input id="newpostcsrf" type="hidden" value="{{ csrf_token }}">
      <div class="control-group">
          <input id="newposttitle" class="input-xxlarge placeholder" type="text" placeholder="title" onfocus="removepostplaceholder('title')">
      </div>
      <div class="control-group">
          <textarea id="newpostbody" class="input-xxlarge placeholder" rows="18" placeholder="note" onfocus="removepostplaceholder('note')"></textarea>
      </div>
      <input id="editpostid" type="hidden">
        <button id="newpostsubmit" type="submit" class="btn btn-inverse mylabel">
            post <i class="icon-pencil icon-large"></i>
        </button>
        <button id="cancelnewpost" onclick="cancelnewpost()" class="btn btn-inverse mylabel">
            cancel <i class="icon-large"></i>
        </button>
    </fieldset>
</div>

<!-- tabindex -1 to ESCAPE close modal -->
<div id="aboutmodal" class="modal hide" tabindex="-1">
    <div id="byline">
        <p>
            This project's source is on
            <a href="https://github.com/trongtruong/f5" target="_blank">gith<i class="icon-github-alt"></i>b.</a>

            If you have any questions, comments, or general
            objections, please send them to me at

            <span id="email">oracular.app@gmail.com</span>
        </p>
        <br>
        <p>
            My name is
            <a href="https://twitter.com/nahnturong" target="_blank">Tr<i class="icon-twitter-sign smallicon"></i>ng.</a>

            I'm studying math, art, and computer science at the
            University of Toronto, in Canada. I love making simple
            tools that do big things.
        </p>
    </div>
</div>

<!-- todo. nothing in settings yet. use it for the help and about
modals -->
<!-- tabindex -1 to ESCAPE close modal -->
<!-- <div id="settingsmodal" class="modal hide" tabindex="-1"> -->
<!--     <div class="row-fluid"> -->
<!--         <div id="settingsmenu" class="span3 bs-docs-sidebar"> -->
<!--             <ul class="nav nav-list bs-docs-sidenav"> -->
<!--                 <li><a id="tagsbutton" class="mydropdownbutton" href="#">tags <i class="icon-chevron-right pull-right"></i></a></li> -->
<!--                 <li><a id="privacybutton" class="mydropdownbutton" href="#">privacy <i class="icon-chevron-right pull-right"></i></a></li> -->
<!--             </ul> -->
<!--         </div> -->
<!--         <div id="settingscontent" class="span9"> -->
<!--             <div id="tagslist" class="mydropdownbutton">coming soon</div> <\!-- class="hide" -\-> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->

<div id="randomposts"></div>

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.highlight.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/moment.min.js"></script>
<script src="{{ STATIC_URL }}js/home.js"></script>
</body>
</html>
