<!DOCTYPE html>
<html>
    <head>
        {% load url from future %}
        <link rel="stylesheet" href="{{ STATIC_URL }}global.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}home.css">
        <script src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
        <script src="{{ STATIC_URL }}moment.min.js"></script>
        <script src="{{ STATIC_URL }}home.js"></script>
    </head>
    <body>
        <div id="toolbox">
            <a id="newpostbutton" class="button" href="#">new</a>
            <a id="reloadbutton" class="button" href="#">reload</a>
            <a id="logout" href="{% url 'journal:logout' %}">logout</a>
        </div>

        <div id="newpostform">
            <input id="newposttitle" type="text" name="new_post_title">
            <div id="newpostdate"></div>
            <textarea id="newpostbody" type="text" name="new_post_body"></textarea><br>
            <input id="newpostsubject" type="text" name="new_post_subject">
            <input id="newpostsubmit" type="submit" onclick="submitpost()" value="post">
        </div>

        <div id="randomposts"></div>

        <!-- {% if post %} -->
        <!--     <a id="random_post" href="#"> -->
        <!--         <div>{{ post.title }}</div> -->
        <!--         <div>{{ post.updated }}</div> -->
        <!--         <div>{{ post.body }}</div> -->
        <!--         <div>{{ post.subject }}</div> -->
        <!--     </a> -->
        <!--     <div id="random_edit_form" action="{% url 'journal:edit_post' post.id %}" method="post"> -->
        <!--         <input id="title_edit" type="text" name="title_edit" value="{{ post.title }}"> -->
        <!--         <div>{{ post.updated }}</div> -->
        <!--         <textarea id="body_edit" type="text" name="body_edit">{{ post.body }}</textarea><br> -->
        <!--         <input id="subject_edit" type="text" name="subject_edit" value="{{ post.subject }}"> -->
        <!--         <input id="submit_button" type="submit" value="save"> -->
        <!--     </div> -->
        <!-- {% else %} -->
        <!--     <div id="no_post">You don't have any post</div> -->
        <!-- {% endif %} -->
    </body>
</html>
