<!DOCTYPE html>
<html>
    <head>
        {% load url from future %}
        <link rel="stylesheet" href="{{ STATIC_URL }}global.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}home.css">
    </head>
    <body>
        <a  id="logout"
            class="controls"
            href="{% url 'journal:logout' %}">logout</a>
        <div class="random">
            {% if post %}
            <div class="headings">
                <div class="editable title">{{ post.title }}</div>
                <div class="date">{{ post.updated }}</div>
            </div>
            <div class="editable body">{{ post.body }}</div>
            {% else %}
            <div class="body">You don't have any post</div>
            {% endif %}
        </div>
        <form class="random" action="{% url 'journal:edit_post' post.id %}" method="post">
            {% csrf_token %}
            <div class="headings">
                <textarea class="title" type="text" name="title_edit">{{ post.title }}</textarea>
                <div class="date">{{ post.updated }}</div>
            </div>
            <textarea class="body" type="text" name="body_edit">{{ post.body }}</textarea>
            <input class="controls button" type="submit" value="post">
        </form>
    </body>
</html>
