<!DOCTYPE html>
<html>
    <head>
        {% load url from future %}
        <link rel="stylesheet" href="{{ STATIC_URL }}global.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}home.css">
    </head>
    <body>
        <a  id="logout"
            class="controls"
            href="{% url 'journal:logout' %}">logout</a>
        <div id="random">
            {% if post %}
            <div id="headings">
                <div id="title" class="editable">{{ post.title }}</div>
                <div id="date">{{ post.updated }}</div>
            </div>
            <div id="body" class="editable">{{ post.body }}</div>
            {% else %}
            <div id="body">You don't have any post</div>
            {% endif %}
        </div>
    </body>
</html>
