<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}index.css">
<script src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function(){
        <!-- Remove div if no error message -->
        if ($.trim($("#error").text()) == ""){
            $("#error").remove();
        }
    });
</script>
</head>
<body>

{% load url from future %}
<form id="loginform" action="{% url 'journal:home' %}" method="post">
{% csrf_token %}
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="login">
</form>

<div class="clear"></div>

<div id="error">
{% if error %}{{error}}{% endif %}
</div>

</body>
</html>
