<!DOCTYPE html>
<html>
    <head>
        <title>F5</title>
        {% load url from future %}
        <link rel="stylesheet" href="{{ STATIC_URL }}index.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}global.css"/>
        <script src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
        <script>
            $(function(){
                $("#username").focus();
            });
        </script>
        </head>
    <body>
        <a  id="register"
            class="controls"
            href="{% url 'journal:registration' %}">
                signup
                </a>
        <form   id="loginform"
                action="{% url 'journal:login' %}"
                method="post">
                {% csrf_token %}
                <input  id="username"
                        class="controls text_input"
                        type="text"
                        name="username"
                        placeholder="username">
                <input  class="controls text_input"
                        type="password"
                        name="password"
                        placeholder="password">
                <input  class="controls button"
                        type="submit"
                        value="login">
        </form>
        <div class="clear"></div>
        {% if error %}
        <div id="error">{{error}}</div>
        {% endif %}
    </body>
</html>
