body {
    font-family: helvetica;
    background-color: #000;
    color: #fff;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    border: 1px solid;
}

.btn:focus, .btn:hover {
    /* background-color: #08c; */
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: -1px -1px 2px #ff8c00, 1px 1px 2px #ff8c00; /* makes text glow */
}

.mycontrol {
    font-size: 1.2em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.2);
}

.mycontrol:hover, .mycontrol:focus {
    text-shadow: -1px -1px 2px #ff8c00, 1px 1px 2px #ff8c00 !important; /* makes text glow */
}

#randomposts {
    margin: 10px;
}

.myrandomrow {
    margin-bottom: 20px;
}

.randompost {
    margin: 5px;
}

a.randompost {
    color: #fff;
    text-decoration: none;
}

/* for random posts */
.posttitle {
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    color: #00BFFF; /* 08c is link default bootstrap link color */
    margin-left: -5px; /* spans have a default margin */
}

.postbody {
    font-size: 1.5em;
    font-family: georgia;
    /* color: black !important; */
    margin-left: 10px;
}

.postsubject {
    font-size: 1.7em;
    font-weight: bold;
    font-family: helvetica;
    color: #888;
    margin-left: 10px;
}

.postdate {
    font-size: 1.3em;
    font-weight: bold;
    color: #555;
    margin-left: 10px;
}

.mynavbar {
    background: rgba(0, 0, 0, 0.5) !important; /* transparent !important; */
}

.modal {
    /* overflow-x: auto; */
    margin-left: -40%;
    width: 80%;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.5) !important;
}

.myformfooter {
    background: rgba(0, 0, 0, 0.2) !important;
    border: none;
}

.mylegend {
    font-size: 3em;
    font-weight: bolder;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid;
}

.mylabel {
    font-size: 1.5em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.2);
}

input {
    font-family: georgia;
    font-size: 1.5em !important; /* fixing short input height */
    color: #fff !important;
    /* text-shadow: -1px -1px 2px #ff8c00, 1px 1px 2px #ff8c00; /\* makes text glow *\/ */
    background: rgba(0, 0, 0, 0.4) !important;
}

textarea {
    font-family: georgia;
    font-size: 1.5em;
    color: #fff !important;
    /* text-shadow: -1px -1px 2px #ff8c00, 1px 1px 2px #ff8c00; /\* makes text glow *\/ */
    background: rgba(0, 0, 0, 0.4) !important;
}

/* changing selection color */
*::selection {
    background: #08c;
}

*::-moz-selection {
    background: #08c;
}

#newpostform {
    background: rgba(0, 0, 0, 0.4);
}

#newposttitle {
    /* font-size: 2em !important; */
    height: 1.3em !important;
}

#newpostsubject {
    /* font-size: 2em !important; */
    height: 1.3em !important;
}

.placeholder {
    color: #fff !important;
}

.placeholder::-webkit-input-placeholder {
    color: #555 !important;
}

.placeholder:-moz-placeholder { /* ff 18- */
    color: #555 !important;
}

.placeholder::-moz-placeholder { /* ff 19+ */
    color: #555 !important;
}

.placeholder:-ms-input-placeholder {
    color: #555 !important;
}
