* {
    border: none;
}

input.text_input2:hover {
    background-color: white;
    color: black;
}

input.button:hover, input.button:focus {
    background-color: white;
    color: red;
}

body {
    background-color: gainsboro;
}

.clear {
    clear: both;
}

#error {
    background-color: lightsteelblue;
    color: black;
    font-size: larger;
    text-align: center;
    padding: 22px;
    margin: 25px;
    margin-left: 10%;
    width: 80%;
}

.controls {
    background-color: lightslategrey;
    color: white;
    font-family: arial;
    font-weight: bold;
    padding: 5px;
}

.controls:hover {
    background-color: white;
    color: red;
}

.controls.text_input {
    background-color: whitesmoke;
    color: black;
}
.controls.text_input::-webkit-input-placeholder {
    color: grey;
}
.controls.text_input:-moz-placeholder {
    color: grey;
}
.controls.text_input:-ms-input-placeholder {
    color: grey;
}

a:link {
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: red;
}