.editable:hover {
    background-color: white;
    color: red;
}

.random {
    float: left;
    max-width: 80%;
    display: inline-block;
    background-color: #B9D3EE;
    color: black;
}

.headings {
    background-color: #abc;
    color: white;
    display: table;
    margin: 5px;
    padding: 10px;
    width: 100%;
}

.title {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-family: arial;
    font-size: x-large;
    font-weight: bold;
}

.date {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-family: arial;
    font-size: medium;
    font-weight: bold;
}

.body {
    clear: both;
    font-family: serif;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#logout {
    float: right;
}
